@import url("./menu-container.css");
@import url("./interface-elements.css");

#game-interface {
    display: flex;
    flex-direction: column;
    color: var(--text);
    align-items: flex-start;
    display: none;
    height: 100%;
}

#topbar-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-evenly;
    align-items: baseline;
}
#topbar-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    cursor: pointer;
    box-shadow: 0px 0px transparent;
    font-size: 12px;
    background-color: transparent;
    color: white;
    border-radius: 0;
    border-color: transparent;
    padding: 4px;
}
#topbar-buttons button:hover{
    font-weight: bolder;
    border-color: var(--border);
    background-color: #e5e5e531;
    cursor: pointer;
    filter: drop-shadow(10px 10px 2px rgba(--border , 0.5));
}
.topbar-active{
    font-weight: bolder !important;
    border-color: var(--border) !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-width: 2px;
}
#topbar-buttons button img {
    filter: invert(100%);
    margin: 0 4px 0 0;
    width: 18px;
}
#topbar-buttons button:first-child img{
    margin: 0;
    filter: invert(0%);
}
#topbar-buttons button:first-child{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #c5c5c5;
    padding: 5px;
    margin: 3px;
    transition: background-color 0.25s;
}
#topbar-buttons button:first-child:hover {
	background-color: #ddd;
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(0px 0px 2px black);
}

.interface {
    display: flex;
    display: none;
}