@import url("./menus/team.css");
@import url("./menus/car-development.css");

#menu-container {
    display: flex;
    width: calc(100% - 2em);
    margin: 0 1em;
    height: 100%;
}

.game-menu {
    display: none;
    margin: 5px;
    width: 100%;
}